body{
    background-color: #FAFAFA;
    position: relative;
}
body > div{
    display: grid;
    grid-template-columns: 250px 1fr;
}
main{
    overflow-x: auto;
}
aside{
    position: relative;
}
aside > section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #ffffff;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    padding: 3rem 0;
    width: 250px;
}
aside div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
aside  nav{
    display: flex;
    flex-direction: column;
}
aside a{
    text-decoration: none;
    font-weight: 500;
    color: #071C49;
    padding: 0.5rem 0;
    transition: all 0.5s;
    font-size: 0.9rem;
    padding-left: 3rem;

}
aside :is(a:hover,a:active){
    border-left: 8px solid #64DFDF;
    background-image: linear-gradient(to right,#64DFDF,#ffffff);
}
aside p{
    color: #71717B;
    font-weight: 400;
    font-size: 0.8rem;
    padding-left: 3rem;
}
.first{
    padding: 4rem 1rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.9rem;
    background-color: #ffffff;
    border-left: 1px solid #E4E4E7;
    border-top: 1px solid #E4E4E7;
}
.first h2{
    font-size: 2rem;
    color: #071C49;
    font-weight: 700;
}
.blue{
    position: relative;
    z-index: 1;
    padding: 2rem;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.blue::before{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    content: "";
    background-image: url("./images/Rectangle\ 426.svg");
    background-size: cover;
    height: 100%;
}
.blue > small{
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: center;
    font-weight: 500;
    color: #071C49;
}
.blue > p{
    font-size: 0.8rem;
    font-weight: 300;
}
.first section{
    display: grid ;
    grid-template-columns: repeat(3,300px);
    justify-content: space-between;

gap: 1rem;
}
.first1{
    position: relative;
    z-index: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    color: #000000;
}
.first1:nth-of-type(1){
    color: #ffffff;
}
.first1 > svg{
    position: absolute;
    width: 100% ;
    top: -30px;
    left: 0;
    z-index: -1;
}
.first1 > div{
    display: flex;
    font-weight: 600;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}
.first1 img{
    height: 18px;
    width: auto;
}
h3{
    font-weight: 600;
    color: #071C49;

}
.second{
    padding: 1rem 1rem 1rem 2rem;
    position: relative;
    z-index: 1;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.second::before{
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
        background-color: #ffffff;
}
.second > section, .third1{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 1rem;
    margin-top: 1.5rem;
    align-items: start;

}
.second > section > div:last-child{
    background-color: #FAFAFA;
    border: 1px solid #E4E4E7;
    border-radius: 1rem;
    padding: 1rem;
}
.second > section ol,.third1 > section:last-child ul{
    padding-left: 1rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-top: 1rem;
}
.dark ol{
        padding-left: 1rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-top: 1rem;
    font-size: 0.8rem;
}
.dark{
    position: relative;
    padding: 2rem 4rem;
    color: #ffffff;
}
.dark > img{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.copy{
    position: absolute;
    right: 70px;
    top: 30px;
    background-color: transparent;
    border: none;
}
.third1 .dark{
    padding: 3rem 4rem;

}
.third1 > section:last-child{
    border: 1px solid #E4E4E7;
    border-radius: 1rem;
    padding: 1rem;
}
.third1 strong{
    font-weight: 600;
}
.third{
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: 2rem;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    margin-bottom: 1.5rem;
}
.third::before{
       content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
        background-color: #ffffff;
}
.third1 > section:first-child{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.third3{
    width: 70%;
    border-left: 8px solid #FE9A00;
    background-image: linear-gradient(to right,#FFD230 10%,#ffffff 60%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 300;
    color: #071C49;
    font-size: 0.8rem;
    padding: 1rem;
    margin-left: 25px;
}
.third3 > div{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    font-weight: 600;
    color: #E17100;
}

.fourth{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.post{
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
    gap: 1rem;
    border: 1px solid #E4E4E7;
    background-color: #ffffff;
    border-radius: 0.3rem;
    align-items: center;
}

.post small{
    font-weight: 300;
    font-size: 0.7rem;
}
.post div{
    padding: 0.5rem 1rem;
    background-color: #F0FDF4;
    border: 1px solid #B9F8CF;
    font-size: 0.9rem;
    font-size: 500;
    color: #00A63E;
}
.request{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-weight: 600;
    color: #71717B;
    align-items: center;
}
.request div{
    padding: 1rem;
    background-color: #071C49;
    color: #64DFDF;
    border-radius: 0.5rem 0 0 0.5rem;
}
.header{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    align-items: center;
}
.contain{
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.header .bold{
    font-weight: 600;
    color: #071C49;
}
.header > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}
.header > div > div{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    flex: 1;
}
.header > div > div div{
    padding: 1rem;
    border-left: 1px solid #D4D4D8;
    font-size: 0.8rem;
    font-weight: 500;
    color: #071C49;
    flex: 1;
}
.header small{
    font-size: 0.6rem;
    color: #71717B;
}
.header span{
    font-size: 0.6rem;
    color: #2B6767;
    padding: 0.2rem 0.7rem;
    background-color: #E0F9F9;
    border-radius: 0.3rem;
    margin-left: 0.3rem;
}
.header p{
    text-wrap: nowrap;
}
.code{
    position: relative;
    padding: 2rem 4rem;
    z-index: 1;
    height: 160px;
    display: flex;
    align-items: center;
}
.code li{
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.code::before{
    content: "";
    width: 100%;
    background-image: url("./images/Rectangle\ 430\ \(2\).svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    background-size: cover;
    z-index: -1;
}
.code1{
        position: relative;
    padding: 1rem 4rem;
    z-index: 1;
    height: 265px;
    display: flex;
    align-items: center;
}
.code1::before{
        content: "";
    width: 100%;
    background-image: url("./images/Rectangle\ 430\ \(3\).svg");
    position: absolute;
    top: -20px;
    left: 0;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
}
.code1 li{
    color: #ffffff;
    font-size: 0.65rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.copied{
position: fixed;
top: 150px;
left: 50%;
transform: translateX(-50%);
padding: 1rem;
border: 1px solid #E4E4E7;
background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    width: 20%;
    font-weight: 600;
    color: #071C49;
    opacity: 0;
}
